<div id="<%= dom_id cart %>">
  <h2 class="font-bold text-lg mb-3">Your Shopping Cart</h2>

  <div class="list-disc list-inside">
    <% cart.line_items.each do |item| %>
      <p><%= item.product.title %></p>
      <p><%= number_to_currency(item.product.price) %></p>
    <% end %>
  </div>
</div>
