<tr class="<%= 'line-item-highlight' if line_item == @current_item %>">
  <td><%= line_item.quantity %></td>
  <td>&times;</td>
  <td class="px-3"><%= line_item.product.title %></td>
  <td class="pl-5"><%= number_to_currency(line_item.product.price) %></td>
</tr>